body {
    text-align: center;
    color: #000f08;
    font-family: 'Open Sans';
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
}
.estilosFooter {
    background: rosybrown;
    padding: 20px;
}
.estilosFotoPrincipal{
    margin-top:70px;
}
.estilosNav {
    background: rosybrown;
}
.letraLogo{
    font-family:'Merienda';
    font-size:30px;
    font-weight:700;
}
.estilosLogoPeque {
    font-family: 'Merienda';
    font-size: 15px;
    font-weight: 700;
}
.boldt1 {
    font-family: 'Merienda';
    font-size: 25px;
    font-weight: 700;
    color: #373A3C;
}
.estilosParrafos {
    padding: 3% 20% 0 20%;
}
h2 {
    font-family: 'Merienda';
    font-size: 33px;
    font-weight: 700;
    color: #373A3C;
    margin-bottom: 25px;
}
.boldt2 {
    font-weight: 600;
    color: #373A3C;
}
.tamanioTextoLogo {
    font-size: 14px;
}
.estilosUltimosTrabajos {
    background: rosybrown;
}